<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC0cqv1c7tyCPgNh78t5Gaj988HLM337g</string>
	<key>GCM_SENDER_ID</key>
	<string>1022890653288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiFlutterLovers</string>
	<key>PROJECT_ID</key>
	<string>dnevnik-sstu</string>
	<key>STORAGE_BUCKET</key>
	<string>dnevnik-sstu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022890653288:ios:e3ac8a9d7c964c73ec6ddd</string>
</dict>
</plist>